[Unit]
Description=ODrive Cloud Drives Auto-Mounter
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/odrive auto-mount --once
RemainAfterExit=yes

[Install]
WantedBy=default.target
